@font-face {
  font-family: 'IBMPlexSerif';
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/IBMPlexSerif-Text.woff2') format('woff2');
}
@font-face {
  font-family: 'IBMPlexSerif';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/IBMPlexSerif-TextItalic.woff2') format('woff2');
}

/* custom fonts */
@font-face {
  font-family: 'Humanist521';
  font-display: swap;
  font-style: normal;
  src: url('/fonts/Humanist521BT.ttf') format('truetype');
}

@font-face {
  font-family: 'MyriadProBold';
  font-display: swap;
  font-style: normal;
  src: url('/fonts/MyriadProBold.otf') format('opentype');
}

@font-face {
  font-family: 'NexaRustSansBlack';
  font-display: swap;
  font-style: normal;
  src: url('/fonts/NexaRustSansBlack.otf') format('opentype');
}
