/* custom helpers */
.page-width {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 55px;
  padding-right: 55px;
}

@media only screen and (max-width: 749px) {
  .page-width {
    padding-left: 22px;
    padding-right: 22px;
  }
  .site-header {
    padding: 0;
  }
}

.site-header {
  padding: 0 55px;
}
/* .divider {
  border-bottom: 1px solid #000;
  margin: 0 auto;
} */

.youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.youtube-video .featured-video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
